# -*- mode: conf-unix; -*-

# EditorConfig is awesome: https://editorconfig.org/

root = true

# defaults
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

# Docstrings and comments use max_line_length = 79
[*.py]
indent_style = space
indent_size = 4

# 4-width tabbed indentation
[*.{sh,bat.tpl,Makefile,*.tpl}]
indent_style = tab
indent_size = 4


[*.{rst,ini}]
indent_style = space
indent_size = 4

[*.{yml,yaml,html,xml,xsl,json}]
indent_style = space
indent_size = 2
insert_final_newline = ignore
