[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
flask = "*"
requests = "*"
pyproj = "*"
geojson = "*"
flask-compress = "==1.4.0"
flask-cors = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
